/*----------------- General  ---------------------*/

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";

}

.header-container {
    grid-area: header;
}

.nav-container {
    grid-area: navigation;
}

.main {
    grid-area: main;
}

.main {
    display: grid;
}

h2,
h3 {
    margin-left: 15px;
}

h3 {
    margin-top: 10px;
    font-size: 15px;
}

/*----------------- header  ---------------------*/
.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #746cc0;
    padding: 10px;
}


.title {
    font-size: 21px;
    color: white;
}

.woman {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.student {
    font-size: 11px;
    color: white;
    margin: 0px;
}

.bell {
    height: 23px;
    width: 23px;
    margin-top: 5px;
    fill: white;
}

.bell-container {
    position: relative;
    margin-left: auto;
}

.icon-circle {
    position: absolute;
    bottom: 28px;
    left: 18px;
    height: 5px;
    width: 5px;
    background-color: lightgreen;
    border-radius: 50%;
}

.bell-container:hover {
    transform: scale(1.2);
    transition: .3s ease-out;
    transition: transform .2s ease-out;
}

.bell-container:hover .bell {
    fill: darkgreen;
}

.bell-container,
.bell {
    transition: .3s ease-out;
}

.line {
    height: 38px;
    width: .1px;
    background-color: darkgrey;
}


.woman,
.bell,
.line {
    margin-right: 10px;
}

/*----------------- nav ---------------------*/

.nav-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 5px;
    background-color: #483d8b;
}

.icon {
    height: 30px;
    width: 30px;
    fill: white;
}

/*----------------- Dashboard ---------------------*/

.main-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.tab {
    padding-bottom: 50px;
    margin-left: 9px;
    border-left: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    background-color: #f2f3f4;
}

.headline {
    font-size: 17px;
    padding-top: 15px;
}

/*----------------- Alert ---------------------*/

.alert-banner {
    display: flex;
    justify-content: space-between;
    background-color: #746cc0;
    padding: 10px 10px;
    margin: 15px;
    color: white;
    border-radius: 8px;
    padding-left: 0px;
    font-size: 14px;
}

.alert-banner-close {
    cursor: pointer;
}

/*---------------------------------- CHART WIDGETS ---------------------------------------*/

/*----------------- Traffic Bar ---------------------*/

.traffic-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0px 15px;
    margin-right: 45px;
    margin-bottom: 22px;
}

.traffic-header {
    padding-bottom: 5px;
}

.active {
    background-color: #74c365;
    border-radius: 20px;
    padding: 7px 10px;
    color: white;
}

.widget-container-full,
.widget-container-half {
    margin-left: 20px;
    width: 88vw;
}


.widget-container-full,
.widget-container-half {
    padding-bottom: 15px;
}

.bar-graph {
    padding: 20px 0px;
}

.doughNutGraph {
    padding: 30px 0px;
}

.borderLineTraffic {
    margin-bottom: 5px;
    border-bottom: 1px solid #bebebe;
    width: 100%
}

.collapsed {
    margin-top: 15px;
}


/*----------------- Social Stats ---------------------*/
.social-stats {
    padding-bottom: 0px;
}

.stats-box {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.social-container {
    display: flex;
    align-items: center;

    border: 1px solid #bebebe;
    margin: 12px 15px 0px 15px;
    background-color: #f2f3f4;
    border-radius: 8px;
}

.social-image {

    padding: 15px;
    margin-left: 20px;
}

.social-text {
    margin: 15px;
}

.logo {
    font-size: 18px;
    color: #746cc0;
}

.followers {
    font-size: 40px;
    color: #696969;
}

.social-image {
    height: 65px;
    width: 65px;
    background: #746cc0;
    display: flex;
    border-radius: 50%;
    fill: white;
}

.borderLineSocial {
    margin-top: 12px;
    margin-bottom: 5px;
    border-bottom: 1px solid #bebebe;
    width: 100%
}

/*----------------- New Members / Recent Activity ---------------------*/


.members {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.members-container,
.members-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 11.5px;
}


.members-container {
    padding: 20px;
}

.shorter-border-line {
    padding: 20px;
    width: 90%;
    border-bottom: 1px solid #bebebe;
}

.transparent-Shorter-border-line {
    padding: 20px;
    width: 90%;
    border-bottom: 0px solid red;
}

.borderLineMembers {
    margin-bottom: 5px;
    border-bottom: 1px solid #bebebe;
    width: 100%
}

.recentHeadLine {
    padding-bottom: 0px;
}

.profile-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-bottom: 5px;
}


.greaterThan {
    display: none;
}

.borderLineRecent {
    margin-bottom: 5px;
    border-bottom: 1px solid #bebebe;
    width: 100%
}

.recentLines {
    text-align: center;
}

.recentParagraphs {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.lastLine {
    margin-left: auto;
    margin-right: auto;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.email {
    color: #746cc0;
}

/*----------------- Message User ---------------------*/

.placeHolder {
    display: flex;
    flex-grow: 1;

}

::placeholder {
    color: #bebebe;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.form-field {
    background-color: #f2f3f4;
    color: #bebebe;
    padding: 15px;
}

.form-area {
    padding: 15px 15px 90px 15px;
    background-color: #f2f3f4;
    color: #bebebe;
}

.button-primary {
    background-color: #746cc0;
    padding: 15px;
    color: white;
}

input:focus,
textarea:focus {
    border: 3px solid #bebebe;
    outline: none;
}

.borderLineMessageing {
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #bebebe;
    width: 100%
}

/*----------------- Settings ---------------------*/

.form-field,
.form-area,
.button-primary {
    border: 1px solid #bebebe;
    font-size: 16px;
    border-radius: 8px;
    margin: 10px 15px;

}

.notifications,
.form-area,
.form-field {
    font-size: 15px;
}

.form-field {
    display: flex;
    flex-grow: 1;
}

.time-zone {
    display: flex;
    flex-grow: 1;
}

.settings-button {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#save,
#cancel {
    width: 50%;
}

#cancel {
    background-color: #acacac;
    margin-left: 9px;
}

#save {
    margin-right: 9px;
}

select:focus {
    border: 3px solid #bebebe;
    outline: none;
}

/*----------------- Switches ---------------------*/

.switch-ios {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

.slider {
    margin-right: 15px;
}

.switch-ios.switch-light {
    display: flex;
    margin: 10px 0;
}

.switch-ios.switch-light span {
    flex-basis: 100px;
}

.switch-ios.switch-light strong {
    flex-basis: 260px;
}

.switch-candy a {
    background-color: #746cc0;
}

.switch-ios.switch-light input:checked~span {
    border-color: #746cc0;
    box-shadow: inset 0 0 0 30px #746cc0;
}

.switch-ios.switch-light input:checked~span a {
    border-color: #746cc0;
}

strong {
    margin-left: 15px;
}

/*-------------------------------------- MEDIA QUERIES ------------------------------*/

/* -------------------------------------- 768px ----------------------------------*/

/* ------------------------ General ------------------------*/
@media (min-width: 768px) {

    h3 {
        font-size: 16px;
        margin-top: 13px;
    }

    /* ------------------------ Grid ------------------------*/


    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }

    main {
        grid-template-columns: 50%;
    }

    .main-header,
    .alert,
    .widget-container-full,
    .stats-box,
    .newMembers,
    .recentActivity,
    .message,
    .borderLineMessageing,
    .settings,
    .littleCharts {
        grid-column: 1 / span 2;
    }

    .daily {
        grid-column: 1 / span 1;
    }

    .mobile {
        grid-column: 2 / span 1;
    }

    /*----------------- header ---------------------*/

    .header-container {
        display: flex;
        justify-content: flex-end;
        padding: 15px 10px;
    }

    /*----------------- Nav-Bar ---------------------*/

    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .icon {
        margin-bottom: 20px;
    }

    .icon-1 {
        margin-top: 10px;
    }

    /*----------------- Dashboard ---------------------*/

    .main-header {
        display: grid;
        grid-template-columns: 1fr 6fr;
    }

    /*----------------- Chart Widgets ---------------------*/

    .traffic-header {
        margin-top: 7px;
    }

    .traffic-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin-right: 15px;
        margin-bottom: 22px;
    }

    .traffic-nav-link {
        margin-left: 12px;
    }

    .littleCharts {
        display: flex;
        border-top: 1px solid #bebebe;
        border-bottom: 1px solid #bebebe;
    }

    .widget-container-full {
        width: 93vw;

    }

    .widget-container-half {
        width: 44vw;

    }

    .mobile {
        border-left: 1px solid #bebebe;
        padding-bottom: 10px;
    }

    .mobile {
        margin: 0 15px;
    }

    .widget-container-full,
    .widget-container-half {
        border-bottom: none;
        padding-bottom: 15px;
    }

    .borderLineTraffic {
        margin-bottom: 5px;
        border-bottom: 1px solid #bebebe;
        width: 0%
    }

    .collapsed {
        margin-top: 13px;
    }

    /*----------------- Social Stats ---------------------*/

    .stats-box {
        flex-direction: row;
        border-bottom: 1px solid #bebebe;
        padding-bottom: 1px;
    }

    .social-container {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        margin: 11px 5px 11px 5px;
    }

    .social-1 {
        margin-left: 15px;
    }

    .social-3 {
        margin-right: 15px;
    }

    .social-image {
        padding: 16px;
        margin-left: 14px;
    }

    .social-text {
        margin: 15px;
    }

    .logo {
        font-size: 23px;
        color: rgb(123, 104, 238);
    }

    .followers {
        font-size: 40px;
        color: #bebebe;
    }

    .social-image {
        height: 63px;
        width: 63px;
        background: rgb(123, 104, 238);
        display: flex;
        border-radius: 50%;
        fill: white;
    }

    .borderLineSocial {
        margin-top: 0px;
        margin-bottom: 0px;
        border-bottom: 0px;
        width: 0px;
    }

    /*----------------- New Members / Recent Activity ---------------------*/

    .members,
    .members-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

    }

    .members-text,
    .recentParagraphs {
        margin-left: 15px;
        font-size: 13px;
    }

    .members-container {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .dates {
        margin-left: auto;
        font-size: 13px;
    }


    .members-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .members-container {
        padding: 20px 0px 20px 20px;
        border-bottom: 1px solid #bebebe;
        width: 100%
    }

    .shorter-border-line {
        padding: 20px 0px 20px 0px;
        width: 94%;
        border-bottom: 1px solid #bebebe;
        margin-left: 15px;
        margin-right: 15px;
    }

    .transparent-Shorter-border-line {
        padding: 20px 0px 20px 0px;
        width: 94%;
        border-bottom: 0px solid red;
        margin-left: 15px;
        margin-right: 15px;
    }


    .greaterThan {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        font-size: 18px;
    }

    .headerMember {
        padding-bottom: 0px;
    }

    .lastLine {
        margin-left: 0px;
        margin-right: 0px;
    }



    /*----------------- Settings ---------------------*/
    .switch-ios.switch-light strong {
        flex-basis: 210px;
    }

    .borderLineMembers,
    .borderLineRecent,
    .borderLineMessageing {
        margin-bottom: 0px;
    }
}

/* -------------------------------------- 1024px ----------------------------------*/

@media (min-width: 1024px) {

    /*----------------- General ---------------------*/

    h3 {
        font-size: 18px;
        margin-top: 17px;
        margin-left: 16px;
    }


    /*--------------------------- Grid ----------------------------*/

    .newMembers,
    .message {
        grid-column: 1 / span 1;
    }

    .traffic-nav,
    .recentActivity,
    .settings {
        grid-column: 2 / span 1;
    }

    /*----------------- header  ---------------------*/
    .header-container {
        padding: 20px;
    }


    .title {
        font-size: 24px;
    }

    .woman {
        height: 43px;
        width: 43px;
    }

    .student {
        font-size: 14px;
    }

    .bell {
        height: 26px;
        width: 26px;
        margin-top: 6px;
    }

    .icon-circle {
        bottom: 30px;
        left: 20px;
        height: 6px;
        width: 6px;
    }

    .line {
        height: 43px;
        width: .2px;
    }

    .woman,
    .bell,
    .line {
        margin-right: 12px;
    }

    /*----------------- nav ---------------------*/

    .nav-container {
        padding: 12px 10px;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    /*----------------- Dashboard ---------------------*/

    .main-header {
        grid-template-columns: 1fr 8fr;
    }

    .tab {
        padding-bottom: 60px;
        margin-left: 12px;
    }

    .headline {
        font-size: 20px;
        padding-top: 15px;
    }

    /*----------------- Alert ---------------------*/
    .alert-banner {
        padding: 15px 12px;
        margin: 16px;
        color: white;
        border-radius: 8px;
        padding-left: 0px;
        font-size: 17px;
    }


    /*----------------- Chart Widgets ---------------------*/

    .traffic-nav {
        font-size: 18px;
        margin-right: 16px;
        margin-bottom: 22px;
    }

    .traffic-nav-link {
        margin-left: 17px;
    }

    .widget-container-full {
        width: 88vw;
    }

    .widget-container-half {
        width: 42vw;
        margin-left: 16px;
    }

    .collapsed {
        margin-top: 17px;
    }


    /*----------------- Social Stats ---------------------*/

    .stats-box {
        flex-direction: row;
        border-bottom: 1px solid #bebebe;
        padding-bottom: 1px;
    }

    .social-container {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        margin: 14px 6px 14px 6px;
    }

    .social-1 {
        margin-left: 16px;
    }

    .social-3 {
        margin-right: 16px;
    }

    /*--------------------------- New Members / Recent Activity ----------------------------*/

    .newMembers {
        border-right: 1px solid #bebebe;
    }

    .message {
        border-top: none;
    }

    .greaterThan {
        font-size: 16px;
    }

    .profile-image {
        height: 77px;
        width: 77px;
        margin-bottom: 5px;
    }

    .members-text,
    .dates,
    .recentParagraphs {
        font-size: 13.5px;
    }

    .recentLines {
        text-align: left;
    }

    .recentParagraphs {
        margin-right: 20px;
    }

    .members-text,
    .recentParagraphs {
        margin-left: 16px;
    }

    /*--------------------------- Messaging ----------------------------*/
    .message {
        border-right: 1px solid #bebebe;
    }

    .borderLineMessageing {
        margin-top: 0px;
        margin-bottom: 0px;
        border-bottom: 0px solid #bebebe;
        width: 0px;
    }

    .button-primary {
        padding: 18px;
        margin-bottom: 20px;
        margin-left: 16px;
    }

    .shorter-border-line {
        padding: 22px 0px;
        width: 94%;
        border-bottom: 1px solid #bebebe;
        margin-left: 16px;
        margin-right: 16px;
    }

    .transparent-Shorter-border-line {
        padding: 22px 0px;
        width: 94%;
        border-bottom: 0px solid red;
        margin-left: 16px;
        margin-right: 16px;
    }

    .form-field {
        margin-top: 20px;
    }

    .notifications,
    .form-area,
    .form-field {
        font-size: 17px;
        margin-left: 16px;
    }

    .form-field {
        padding: 18px;
    }

    .form-area {
        padding: 18px 18px 120px 18px;
    }

    /*--------------------------- Settings ----------------------------*/

    .settings {
        display: flex;
        flex-direction: column;
    }

    .settings-button {
        margin-bottom: 0px;
    }

    .switch-ios.switch-light strong {
        flex-basis: 235px;
    }

    .switch-light.switch-ios.switch-1 {
        margin-top: 35px;
    }

    .switch-light.switch-ios.switch-2 {
        margin-top: 22px;
        margin-bottom: 27px;
    }
}